In [0]:
select county_state_name,
       population,
       CAST(
           REPLACE(
               `GHG emissions mtons CO2e`,
               ',',
               '')
       	AS DOUBLE) as Total_Emissions 
FROM emissions_data_2023
ORDER BY Total_Emissions desc
limit 10